<header style="margin-left: 100PX"><body> <h1 align="center"> Welcome To Andrew's Super Awesome Tiny URL Maker&#8482;</h1>
</body></header>
<%= email %>
<% if (email) { %>
  <div><a href="/urls" align="left">My Links</a></div>
  <div><form action="/logout" method="POST">
      <input type="submit" value="LOGOUT"></div>
<% } else { %>
  <div><a href="/login" align="left">LOGIN</a></div>
  <br>
  <div><a href="/register" align="left">REGISTER</a></</div>
<% } %>
<br>

