<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include ./partials/_background %>
<div>
<h1>THIS IS THE LOGIN PAGE</h1>
  <h2><form action="/login" method="POST" align="center|justify">
    <label for="register email">Email</label>
      <input id="email" type="email" name="email" placeholder="Your Email Address Here" style="width: 300px">
    <br>
    <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your Password Here" style="width: 300px">
      <input type="submit" value="Submit">
  </form></h2>
</div>
</body>
</html>